{{ template "base" . }} {{ define "title" }} RPS web - About {{ end }} {{ define
"content" }}

<section>
  <div class="container">
    <div class="row">
      <div class="col py-5">
        <h2 class="py-2">Acerca de Chiara Bosio</h2>
        <p>
          Hola, soy Chiara Bosio, una apasionada desarrolladora de software con
          un amor por los proyectos creativos y desafiantes. Me encanta resolver
          problemas a través del código, diseñar interfaces interactivas y
          construir experiencias que conecten con las personas. Siempre estoy en
          búsqueda de nuevas herramientas y tecnologías que me ayuden a mejorar
          mis habilidades y a llevar mis ideas al siguiente nivel.
        </p>
        <p>
          Además de programar, disfruto explorando cómo el diseño puede
          transformar la manera en que interactuamos con la tecnología. Creo
          firmemente que el aprendizaje constante es clave en esta profesión, y
          por eso me esfuerzo por mantenerme actualizada con las últimas
          tendencias en desarrollo web, experiencia de usuario y aplicaciones
          interactivas.
        </p>
        <p>
          Este programa de "Piedra, Papel o Tijera" es un ejemplo de mi enfoque
          práctico para aprender y compartir. Me emociona crear proyectos como
          este porque no solo son entretenidos, sino que también me permiten
          aplicar conceptos importantes como la lógica de programación, la
          interacción dinámica y el diseño visual. ¡Espero que lo disfrutes
          tanto como yo disfruté creándolo!
        </p>

        <ul class="py-3">
          <li>
            <a
              href="https://www.linkedin.com/in/chiara-bosio-078b9717b/"
              target="_blank"
              >LinkedIn</a
            >
          </li>
          <li>
            <a href="https://github.com/chi-bosio" target="_blank">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{{ end }}
