{{ template "base" . }} {{ define "title" }} RPS web - Nuevo juego {{ end }} {{
define "content" }}
<section class="section-nuevo-juego" id="new-game-section">
  <div class="container">
    <div class="row justify-content-center" id="game-prep">
      <h2 class="text-center py-4" id="game-title">¡Prepárate para jugar!</h2>
      <p class="text-center mb-4" id="game-description">
        Ingrese su nombre para personalizar el juego.
      </p>
      <div class="col-md-6" id="input-section">
        <input
          type="text"
          class="form-control"
          id="player-name"
          placeholder="Tu nombre"
        />
        <button
          class="btn btn-primary btn-lg mt-3"
          onclick="startGame()"
          id="start-btn"
        >
          Comenzar juego
        </button>
      </div>
    </div>
  </div>
</section>

{{ end }}
